@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500&display=swap');

.zone {
	display: none;
	padding: 20px;
	border: #ffffff solid 2px;
	border-radius: 12px;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #000000;
	overflow-y: hidden;
}

* {
	color: #ffffff;
	font-family: 'Nunito', sans-serif;
}

*::-webkit-scrollbar {
	width: 4px;
	height: 8px;
	display: block;
	background-color: #00000000;
}

*::-webkit-scrollbar-thumb {
	background-color: #ffffff;
	border: 0px solid #000000;
	border-radius: 2px;
}

.basebtn {
	border: #ffffff solid 2px;
	border-radius: 8px;
	padding: 8px;
	background-color: #000000;
	transition: 0.2s;
}

.basebtn:hover {
	border-color: #000000;
	background-color: #ffffff;
	color: #000000;
	cursor: pointer;
}

.projects {
	line-height: 2rem;
}

h1 {
	height: 20px;
}

.gray {
	transition: 0.2s;
	cursor: not-allowed;
	color: #ffffff;
}

.gray:hover {
	color: #606060;
}

.emojibtn {
	border-radius: 20px;
}

.clickabletext {
	transition: 0.2s;
	cursor: pointer;
	text-decoration: none;
}

.clickabletext:hover {
	color: #ffaa00;
}

.packages {
	overflow-y: auto;
	max-height: 60vh;
}

.pkgver {
	color: #b0b0b0;
}

.processingcode {
	font-family: 'JetBrains Mono', monospace;
	font-size: small;
}

.processinglog {
	background-color: #202020;
	border: #00000000 solid 1px;
	border-radius: 12px;
	overflow-y: scroll;
	max-height: 150px;
	width: 75vh;
	display: flex;
	flex-direction: column-reverse;
}

.package {
	line-height: 20px;
}
